﻿@using RecruitmentProject.Models;

@model IEnumerable<Reservation>

@{ 
    ViewBag.Title = "Lista Rezerwacji";
}

<h2>Lista rezerwacji</h2>

<link rel="stylesheet" href="https://cdn.sencha.com/ext/gpl/4.1.1/resources/css/ext-all.css">
<script type="text/javascript" src="https://cdn.sencha.com/ext/gpl/4.1.1/ext-all-debug.js"></script>
<script language="javascript" type="text/javascript" src="~/scripts/datagridfieldforms.js"></script>